<!-- Wide card with share menu button -->
<div class="mdc-card">
  <div class="mdc-card__media mdc-card__media--16-9" [ngStyle]="mediaStyle" >
    <a href="{{ targetLink }}" target="_blank" style="text-decoration: none">

      <div class="mdc-card__media-content" [ngStyle]="imageStyles">
        <div class="image-title">{{imageTitle}}</div>
      </div>

        <div class="mdc-card__primary-action card-content">

          <div class="mdl-card__title card-middle-bar" fxLayout="horizontal"
                 ngClass.gt-xs="card-middle-bar"
                 ngClass.xs="card-middle-bar-mobile-title">
              <h2 class="mdl-card__title-text">{{ title }}</h2>
              <div class="mdc-card__action-icons">
                <mat-icon class="card-icons card-action-bar-elements">{{icon}}</mat-icon>
              </div>
            </div>

            <div *ngIf="supportingText" class="mdl-card__supporting-text card-middle-bar">
              <p>{{ supportingText }}</p>
            </div>

        </div>

    </a>
  </div>
</div>
