@import "~@material/card/mdc-card";

.card-content {
  margin-top: -20px;
  background-color:  rgba(211, 211, 211, 0.8);
}

.mdl-card__media {
  margin: 0;
  height: 10vw;
}


.mdc-card__media-content {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.image-title {
  background: url("/assets/heading1.png") no-repeat 0 0 ;
  font: 13px/25px  'Baloo Bhaijaan', cursive;
  color: #fff;
  padding: 0;
  display: block;
  text-transform: uppercase;
  float: left;
  position: absolute;
  left: -2px;
  top: 15px;
  width: 142px;
  text-align: center;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdc-card:hover {
  opacity: 0.8;
  .card-content {
    background-color:  white;
  }
}

.card-action-bar {
  background-color: darkolivegreen;
}

.card-middle-bar {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 0.8rem;
  letter-spacing: 0.3px;
  color: #be1abe ;
  font-size: 0.8vw;
}

.card-middle-bar-mobile-title {
  font-size: 2vw;
}

.card-middle-bar-mobile-subtitle {
  font-size: 8px;
}

.card-action-bar-mobile {
  font-size: 10px;
}
.card-action-bar-elements {
  color: blueviolet;
  padding-right: 10px;
}
