.mdl-card__media {
  margin: 0;
  height: 10vw;
}

.mdl-card__media>img {
  max-width: 100%;
}

.card {
  background-color: white;
  max-width:100%;
  //max-height:100%;
}
.card-action-bar {
  background-color: darkolivegreen;
}

.profile-image {
  max-width: 100%;
  background-size: center / cover;
}

.mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

.card-middle-bar {
  padding-left: 0.8rem;
  color: darkorchid;
}

.card-action-bar-elements {
  color: lightgreen;
}

.mdc-card__primary-action.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 10.46;
}

.contact-card__media {
  //height: 150px;
  //background-size: cover !important;
  //background: url("/assets/contact.jpg");
}


//.location-card__media {
//  height: 175px;
//  background-size: cover !important;
//  background: url("/assets/map.png");
//}
//
//.card-icons {
//  padding-right: 5px;
//  color: aqua;
//}
//
//.mdc-typography--headline6 {
//  font-family: 'Josefin Slab', serif;
//  font-size: 1.5vw;
//  letter-spacing: .0155em;
//  font-weight: bold;
//  color: red;
//}
//
//.demo-card__primary {
//  padding-left: 1rem;
//}
//
//@media only screen
//and (min-device-width: 320px)
//and (max-device-width: 480px)
//and (-webkit-min-device-pixel-ratio: 2) {
//  .card-button {
//    font-size: 10px;
//    color: blanchedalmond;
//  }
//}
//
//@media screen
//and (min-device-width: 1200px)
//and (max-device-width: 1600px)
//and (-webkit-min-device-pixel-ratio: 2)
//and (min-resolution: 192dpi) {
//  .card-button {
//    font-size: 15px;
//    color: blanchedalmond;
//  }
//}
