@import "~@material/card/mdc-card";

.card-content {
  background-color:  rgba(211, 211, 211, 0.9);
}

.mdl-card__media {
  margin: 0;
  height: 10vw;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdc-card:hover {
  opacity: 1;
}

.card {
  background-color: white;
  max-width:100%;
}

.card-action-bar {
  background-color: darkolivegreen;
}


.card-middle-bar {
  padding-left: 0.8rem;
  color: darkgreen;
  font-size: 12px;
}

.card-action-bar-elements {
  color: lightgreen;
}

.mdc-card__media-content {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
