<div id="footer" class="ifooter">
  <div class="left-panel">

    <div class="quick-float">

      <a class="hide-on-large-only" target="_blank" rel="noopener nofollow" href="https://api.whatsapp.com/send?phone=15105027156&amp;text=Hi, Payal. I need more information about Mini Munchkins Family Daycare. Please contact me.">
        <img class="quick-float-icon" src="assets/whatsapp.svg" alt="WhatsApp" title="WhatsApp Us">
      </a>

      <a class="_click_record" data-websiteid="23289" data-type="map" target="_blank" rel="noopener nofollow" href="https://www.facebook.com/minimunchkinsfamilydaycare">
        <img class="quick-float-icon" src="assets/facebook.svg" alt="Facebook" title="Like Us">
      </a>

      <a class="_click_record" data-websiteid="23289" data-type="map" target="_blank" rel="noopener nofollow" href="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98">
        <img class="quick-float-icon" src="assets/google.svg" alt="Google Map" title="Reach Us">
      </a>
    </div>

  </div>
</div>
