#footer {
  height: 50px;
  background: linear-gradient(45deg, rgba(12,27,71,0.4), rgba(29,80,737,0.1) 100%);
  line-height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}


.quick-float {
  //position: fixed;
  z-index: 11;
  left: 0;
  bottom: 5%;
  //display: table;
}

.quick-float .quick-float-icon {
  height: 30px;
  cursor: pointer;
  margin-top: 0.7rem;
  margin-left: 1rem;
  transition: all .4s;
  //display: table-cell;
  //vertical-align: middle;
}
