
<div class="mdc-layout-grid put-center">

  <div class="mdc-layout-grid__inner">

    <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet">
      <app-card
        image="/assets/map.png"
        title="41 Northway St, Holliston, MA 01746"
        buttonText="Get Directions"
        targetLink="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98"
        icon=directions
        imageTitle="Directions"
        imageTitleColor=blue
        backgroundImage="assets/map.png"
        >
      </app-card>
    </div>

    <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet">
      <app-card
        image="/assets/contact.jpg"
        title="(510) 502 7156"
        buttonText="CALL"
        targetLink="tel:+1-510-502-7156"
        icon="call"
        imageTitle="Call Now"
        imageTitleColor=white
        backgroundImage="assets/contact.jpg"
        >
      </app-card>
    </div>

    <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet">
      <app-card
        image="/assets/email.png"
        title="info@minimunchkinsfamilydaycare.com"
        buttonText="SEND EMAIL"
        targetLink="mailto:info@minimunchkinsfamilydaycare.com"
        icon="email"
        imageTitle="Send Email"
        imageTitleColor=lightgray
        backgroundImage="assets/email.png"
      >
      </app-card>
    </div>

  </div>
