
<div class="mdc-layout-grid put-center">

  <div class="mdc-layout-grid__inner">

    <div class="demo-cell mdc-layout-grid__cell mdl-cell mdl-cell--8-col mdl-cell--6-col-desktop">
      <app-card
        image="/assets/map.png"
        title="Address"
        supportingText="41 Northway St, Holliston, MA 01746"
        buttonText="Get Directions"
        targetLink="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98"
        icon=directions
        imageTitle="Location"
        imageTitleColor=blue
        backgroundImage="/assets/map.png"
        >
      </app-card>
    </div>

    <div class="demo-cell mdc-layout-grid__cell mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
      <app-card
        image="/assets/contact.jpg"
        title="(510) 502 7156"
        supportingText="info@minimunchkinsfamilydaycare.com"
        buttonText="CALL"
        targetLink="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98"
        icon="call"
        imageTitle="Contact"
        imageTitleColor=white
        backgroundImage="/assets/contact.jpg"
        >
      </app-card>
    </div>
</div>
