<!--<div class="IQ1KEb" style="height: 400px; width: 100%">-->
  <!--<a href="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98"-->
     <!--target="_blank" itemprop="hasMap">-->
    <!--<div class="QMbmRe"-->
         <!--style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?scale=1&size=1600x900&style=…4034277&zoom=16&client=google-presto&signature=7-CSXWj_Knxxo2ibyeMugOAqRe4')"-->
         <!--title="Map showing business location.">-->
    <!--</div>-->
  <!--</a>-->
<!--</div>-->

<!--<div style="margin: 0 auto;">-->
  <!--<a href="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98" target="_blank">-->
    <!--<img class="map-image" src="assets/map.png"/>-->
  <!--</a>-->
<!--</div>-->

<div class="mdc-layout-grid put-center">

  <div class="mdc-layout-grid__inner">
    <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <div class="mdc-card contact-card">

        <div class="mdc-card__primary-action">
          <div class="mdc-card__media mdc-card__media--square contact-card__media mdc-card__media--16-9">
            <div class="mdc-card__media-content" style="color: blue; padding: 10px">Address</div>
          </div>
        </div>

        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
              <span class="mdc-button__label">GET DIRECTIONS</span>
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!--<div class="mdc-card">-->
  <!--<div class="mdc-card__primary-action">-->
    <!--<div class="mdc-card__media mdc-card__media&#45;&#45;square">-->
      <!--<div class="mdc-card__media-content">Title</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ... additional primary action content ... &ndash;&gt;-->
  <!--</div>-->

  <!--<div class="mdc-card__actions">-->
    <!--<div class="mdc-card__action-buttons">-->
      <!--<button class="mdc-button mdc-card__action mdc-card__action&#45;&#45;button">-->
        <!--<span class="mdc-button__label">Action 1</span>-->
      <!--</button>-->
      <!--<button class="mdc-button mdc-card__action mdc-card__action&#45;&#45;button">-->
        <!--<span class="mdc-button__label">Action 2</span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="mdc-card__action-icons">-->
      <!--<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action&#45;&#45;icon" title="Share">share</button>-->
      <!--<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action&#45;&#45;icon" title="More options">more_vert</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
