@import "~@material/top-app-bar/mdc-top-app-bar";

#menu-dots {
  position: fixed;
  right: 0;
}

.menu-links {
  margin-right: 30px;
  margin-left: 20px;
}

.logo {
  width: 80px;
}

.title {
  font-family: 'Coiny', cursive;
  font-size: 26px;
  margin-left: -10px;
  color: cornflowerblue;
}
