<header class="mdc-top-app-bar"
        style="background: linear-gradient(45deg, rgba(12,27,61,0.7), rgba(29,80,737,0.7) 100%);">
  <div class="mdc-top-app-bar__row" >

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <img class="logo" src="assets/logo-only-transparant.png" fxShow.sm="true"  fxShow.gt-md="true" fxShow="false"/>
      <img class="mini-logo" src="assets/logo-only-transparant.png" fxShow.sm="false"  fxShow.gt-md="false" fxShow="true"/>
      <span class="mdc-top-app-bar__title title">Mini Munchkins</span>
      <span class="mdc-top-app-bar__title title" style="font-size: 2vw; color: pink">Family Daycare</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" fxShow.sm="true"  fxShow.gt-md="true" fxShow="false" role="toolbar">

      <a href="#" class="mdc-top-app-bar__action-item menu-links">
        <i class="material-icons" style="margin-right: 5px;">home</i>Home
      </a>

      <a href="#" class="mdc-top-app-bar__action-item menu-links">
        <i class="material-icons" style="margin-right: 5px;">photo_library</i>Gallery
      </a>

      <a href="#" class="mdc-top-app-bar__action-item menu-links">
        <i class="material-icons" style="margin-right: 5px;">person_pin</i>Contact
      </a>

    </section>
  </div>


  <mat-menu #appMenu="matMenu">
    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">home</i>Home
    </a>

    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">photo_library</i>Gallery
    </a>

    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">person_pin</i>Contact
    </a>
  </mat-menu>

  <section id="menu-dots" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" fxShow.sm="false"  fxShow.gt-md="false" fxShow="true">
    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon" [matMenuTriggerFor]="appMenu">menu</a>
  </section>

</header>
