@import "~@material/top-app-bar/mdc-top-app-bar";

.app-top-bar {
  background: linear-gradient(45deg, rgba(12,27,61,0.7), rgba(29,80,737,0.7) 100%);
}

#menu-dots {
  position: fixed;
  right: 0;
}

.menu-links {
  margin-right: 30px;
  margin-left: 20px;
}

.logo {
  width: 90px;
}

.mini-logo {
  width: 65px;
}


.title {
  font-family: 'Coiny', cursive;
  font-size: 30px;
  color: cornflowerblue;
}

.title.small-device {
  font-size: 20px;
}

.title.medium-device {
  font-size: 25px;
}


.title.subtitle {
  font-size: 20px;
  color: pink;
}

.title.subtitle.small-device {
  font-size: 10px;
  margin-left: -10px;
}

.title.subtitle.medium-device {
  font-size: 15px;
}

.quick-float {
  position: fixed;
  z-index: 11;
  left: 0;
  bottom: 5%;
  //display: table;
}

.quick-float .quick-float-icon {
  height: 30px;
  cursor: pointer;
  //margin-top: 1rem;
  margin-left: 1rem;
  transition: all .4s;
  //display: table-cell;
  //vertical-align: middle;
}
