<header class="mdc-top-app-bar"
        style="background: linear-gradient(45deg, rgba(12,27,61,0.7), rgba(29,80,737,0.7) 100%);">
  <div class="mdc-top-app-bar__row" >

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">

      <img class="logo" ngClass.xs="mini-logo" src="assets/logo-only-transparant.png">

        <span class="mdc-top-app-bar__title title"
              style="margin-left: -15px;"
              ngClass.gt-sm="title"
              ngClass.gt-xs="medium-device"
              ngClass.xs="small-device">Mini Munchkins</span>

        <span class="mdc-top-app-bar__title title subtitle"
              ngClass.gt-sm="title"
              ngClass.gt-xs="medium-device"
              ngClass.xs="small-device">Family Daycare</span>

    </section>

    <!--<section class="mdc-top-app-bar__section mdc-top-app-bar__section&#45;&#45;align-end" role="toolbar"-->
             <!--fxShow.lg="true"-->
             <!--fxShow="false" >-->

      <!--<a href="#" class="mdc-top-app-bar__action-item menu-links">-->
        <!--<i class="material-icons" style="margin-right: 5px;">home</i>Home-->
      <!--</a>-->

      <!--<a href="#" class="mdc-top-app-bar__action-item menu-links">-->
        <!--<i class="material-icons" style="margin-right: 5px;">photo_library</i>Gallery-->
      <!--</a>-->

      <!--<a href="#" class="mdc-top-app-bar__action-item menu-links">-->
        <!--<i class="material-icons" style="margin-right: 5px;">person_pin</i>Contact-->
      <!--</a>-->

    <!--</section>-->
  </div>

  <!--<div class='demopadding'>-->
    <!--<div class='icon social fb'><i class='fa fa-facebook'></i></div>-->
    <!--<div class='icon social tw'><i class='fab fa-whatsapp'></i></div>-->
  <!--</div>-->

  <mat-menu #appMenu="matMenu">
    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">home</i>Home
    </a>

    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">photo_library</i>Gallery
    </a>

    <a href="#" class="mdc-top-app-bar__action-item menu-links">
      <i class="material-icons" style="margin-right: 5px;">person_pin</i>Contact
    </a>
  </mat-menu>

  <section id="menu-dots" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <a href="#" class="material-icons mdc-top-app-bar__navigation-icon" [matMenuTriggerFor]="appMenu">menu</a>
  </section>

</header>

<div class="quick-float">

  <a class="hide-on-large-only" target="_blank" rel="noopener nofollow" href="https://api.whatsapp.com/send?phone=15105027156&amp;text=Hi, Payal. I need more information about Mini Munchkins Family Daycare. Please contact me.">
    <img class="quick-float-icon" src="assets/whatsapp.svg" alt="WhatsApp" title="WhatsApp Us">
  </a>

  <a class="_click_record" data-websiteid="23289" data-type="map" target="_blank" rel="noopener nofollow" href="https://www.facebook.com/minimunchkinsfamilydaycare">
    <img class="quick-float-icon" src="assets/facebook.svg" alt="Facebook" title="Like Us">
  </a>

  <a class="_click_record" data-websiteid="23289" data-type="map" target="_blank" rel="noopener nofollow" href="https://www.google.com/maps/place/Mini+Munchkins+Family+Daycare/data=!3m1!4b1!4m2!3m1!1s0x89e4773ce0abbca1:0x36c87230d478bd98">
    <img class="quick-float-icon" src="assets/google.svg" alt="Google Map" title="Reach Us">
  </a>
</div>
