@import "~@material/top-app-bar/mdc-top-app-bar";

#menu-dots {
  position: fixed;
  right: 0;
}

.menu-links {
  margin-right: 30px;
  margin-left: 20px;
}

.logo {
  width: 80px;
}

.mini-logo {
  width: 50px;
}

.title {
  font-family: 'Coiny', cursive;
  font-size: 30px;
  margin-left: -10px;
  color: cornflowerblue;
}

.title.subtitle {
  font-size: 20px;
  color: pink;
}

.title.small-device {
  font-size: 20px;
}

.subtitle.small-device {
  font-size: 10px;
}


